<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="logs/Log.log">
  <variable name="temp1StackTrace" value="${replace:searchFor=   в :replaceWith=\0\0\0в\0:regex=true:inner=${exception:format=StackTrace}}"/>
  <variable name="temp2StackTrace" value="${replace:searchFor= в :replaceWith=\n\r\n\r  ----------- В файле\: :regex=true:inner=${temp1StackTrace}}"/>
  <variable name="FormatedStackTrace" value="${replace:searchFor=\0\0\0в\0:replaceWith=\n\r\n\r  ------ В методе\: :regex=true:inner=${temp2StackTrace}}"/>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${exception:format=Message}${newline}
 -- Тип данных ошибки: ${exception:format=type}${newline}
 -- Фрагмент стека вызова методов:  ${FormatedStackTrace}
 ${newline}
 ${newline}--------------------------------------------------------------------------------------------------------------------------
 ${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="file"/>
  </rules>
</nlog>
